In [3]:
import numpy as np
import pandas as pd

In [9]:
# Load the dataset from a CSV file
df = pd.read_csv(r"C:\Users\HP\Downloads\dummy_startup_success_dataset.csv")
df

,domain_category,name,permalink,company_domain,founded_on,operating_status,team_size,num_rounds,total_funding_usd,avg_round_usd,num_founders,avg_founder_exits,tweet_count_last_7d,startup_age_days,has_ipo,has_acquisition,label
0,AI,ai-startup-001,ai-startup-001,aistartup001.com,2024-09-28,active,753,8,62443214.93,7805401.87,1,1.68,495,261,True,False,successful
1,AI,ai-startup-002,ai-startup-002,aistartup002.com,2024-09-11,active,71,4,22359672.16,5589918.04,2,2.12,185,278,False,True,successful
2,AI,ai-startup-003,ai-startup-003,aistartup003.com,2019-09-04,active,210,10,98011363.84,9801136.38,5,1.13,435,2112,True,False,successful
3,AI,ai-startup-004,ai-startup-004,aistartup004.com,2023-06-07,active,822,5,22835873.69,4567174.74,4,2.35,72,740,False,True,successful
4,AI,ai-startup-005,ai-startup-005,aistartup005.com,2024-11-17,active,913,8,13951619.83,1743952.48,3,2.32,134,211,True,False,successful
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Sustainability,sustainability-startup-096,sustainability-startup-096,sustainabilitystartup096.com,2022-05-06,closed,5,3,105872.07,35290.69,5,0.13,22,1137,False,False,unsuccessful
396,Sustainability,sustainability-startup-097,sustainability-startup-097,sustainabilitystartup097.com,2023-12-29,closed,34,1,1031573.75,1031573.75,4,0.58,46,535,False,False,unsuccessful
397,Sustainability,sustainability-startup-098,sustainability-startup-098,sustainabilitystartup098.com,2019-12-29,closed,27,1,1118729.50,1118729.50,4,0.19,48,1996,False,False,unsuccessful
398,Sustainability,sustainability-startup-099,sustainability-startup-099,sustainabilitystartup099.com,2023-01-13,closed,34,0,0.00,NaN,1,0.16,35,885,False,False,unsuccessful
399,Sustainability,sustainability-startup-100,sustainability-startup-100,sustainabilitystartup100.com,2020-03-15,closed,50,0,0.00,NaN,2,0.92,26,1919,False,False,unsuccessful

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   domain_category      400 non-null    object
 1   name                 400 non-null    object
 2   permalink            400 non-null    object
 3   company_domain       400 non-null    object
 4   founded_on           400 non-null    object
 5   operating_status     400 non-null    object
 6   team_size            400 non-null    int64
 7   num_rounds           400 non-null    int64
 8   total_funding_usd    400 non-null    float64
 9   avg_round_usd        349 non-null    float64
 10  num_founders         400 non-null    int64
 11  avg_founder_exits    400 non-null    float64
 12  tweet_count_last_7d  400 non-null    int64
 13  startup_age_days     400 non-null    int64
 14  has_ipo              400 non-null    bool
 15  has_acquisition      400 non-null    bool
 16  label                400 non-null    object
dtypes: bool(2), float64(3), int64(5), object(7)
memory usage: 47.8+ KB